# Content:
1. Improting Library
2. Loading Data
3. Data Exploration
4. Data Cleaning<br>
4.1. Handling missing values<br>
4.2. Removing Duplicates<br>
4.3. Data Transformation
5. Exporting Cleaned Data

# 1. Importing Library

In [2]:
import pandas as pd
import numpy as np
import os
import re

# 2. Loading Data

In [3]:
# creat path to dataset: 
path = r'/Users/tuyetnguyen/Desktop/Career Foundry/Achievement 6/09-2023 Airbnb Listings and Neighborhoods Analysis'

In [4]:
# import dataset:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'))

# 03 Data Exploration

In [5]:
# View first few rows of the dataset:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13226114,https://www.airbnb.com/rooms/13226114,20230624173239,2023-06-25,city scrape,Home in Seattle · ★4.79 · 2 bedrooms · 4 beds ...,"Explore Columbia City's lively culinary, bar ...",Columbia City's diverse restaurants and locall...,https://a0.muscache.com/pictures/miso/Hosting-...,1884549,...,5.00,4.61,4.65,STR-OPLI-19-000171,f,1,1,0,0,0.28
1,12518952,https://www.airbnb.com/rooms/12518952,20230624173239,2023-06-25,city scrape,Guest suite in Seattle · ★5.0 · 2 bedrooms · 6...,"Newly painted, beautiful, bright and wonderfu...","Many good restaurants and cafés, bathhouse the...",https://a0.muscache.com/pictures/9ff506f6-8927...,12677600,...,5.00,5.00,4.83,STR-OPLI-19-002061,f,1,1,0,0,0.71
2,521597880867717063,https://www.airbnb.com/rooms/521597880867717063,20230624173239,2023-06-24,city scrape,Serviced apartment in Seattle · Studio · 1 bath,Centrally located in the Adams neighborhood of...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,48005494,...,5.00,3.50,5.00,NaN,f,36,36,0,0,0.44
3,17889172,https://www.airbnb.com/rooms/17889172,20230624173239,2023-06-24,city scrape,Rental unit in Seattle · ★5.0 · 1 bedroom · 1 ...,Mid-century apartment well preserved with rece...,Central Wallingford location. Close to Stone W...,https://a0.muscache.com/pictures/706ab66c-9cda...,66909032,...,5.00,4.96,4.89,STR-OPLI-19-000865,f,4,4,0,0,0.38
4,15917796,https://www.airbnb.com/rooms/15917796,20230624173239,2023-06-24,city scrape,Home in Seattle · ★4.60 · Studio · 3 beds · 1 ...,"The Carriage House is close to Eastlake Union,...",The neighborhood contains a mixture of residen...,https://a0.muscache.com/pictures/d56dc8ce-e594...,38021932,...,4.77,4.93,4.33,STR-OPLI-19-003016,f,1,1,0,0,0.38

In [6]:
# Check data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6636 non-null   int64
 1   listing_url                                   6636 non-null   object
 2   scrape_id                                     6636 non-null   int64
 3   last_scraped                                  6636 non-null   object
 4   source                                        6636 non-null   object
 5   name                                          6636 non-null   object
 6   description                                   6630 non-null   object
 7   neighborhood_overview                         4859 non-null   object
 8   picture_url                                   6636 non-null   object
 9   host_id                                       6636 non-null   int64
 10  host_url                                      6636 non-null   object
 11  host_name                                     6636 non-null   object
 12  host_since                                    6636 non-null   object
 13  host_location                                 5700 non-null   object
 14  host_about                                    4756 non-null   object
 15  host_response_time                            5893 non-null   object
 16  host_response_rate                            5893 non-null   object
 17  host_acceptance_rate                          6101 non-null   object
 18  host_is_superhost                             5560 non-null   object
 19  host_thumbnail_url                            6636 non-null   object
 20  host_picture_url                              6636 non-null   object
 21  host_neighbourhood                            6332 non-null   object
 22  host_listings_count                           6636 non-null   int64
 23  host_total_listings_count                     6636 non-null   int64
 24  host_verifications                            6636 non-null   object
 25  host_has_profile_pic                          6636 non-null   object
 26  host_identity_verified                        6636 non-null   object
 27  neighbourhood                                 4859 non-null   object
 28  neighbourhood_cleansed                        6636 non-null   object
 29  neighbourhood_group_cleansed                  6636 non-null   object
 30  latitude                                      6636 non-null   float64
 31  longitude                                     6636 non-null   float64
 32  property_type                                 6636 non-null   object
 33  room_type                                     6636 non-null   object
 34  accommodates                                  6636 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6635 non-null   object
 37  bedrooms                                      5060 non-null   float64
 38  beds                                          6563 non-null   float64
 39  amenities                                     6636 non-null   object
 40  price                                         6636 non-null   object
 41  minimum_nights                                6636 non-null   int64
 42  maximum_nights                                6636 non-null   int64
 43  minimum_minimum_nights                        6635 non-null   float64
 44  maximum_minimum_nights                        6635 non-null   float64
 45  minimum_maximum_nights                        6635 non-null   float64
 46  maximum_maximum_nights                        6635 non-null   float64
 47  minimum_nights_avg_ntm                        6635 non-null   float64
 48  maximum_nights_avg_ntm                        6635 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6636 non-null   object
 51  availability_30                               6636 non-null   int64
 52  availability_60                               6636 non-null   int64
 53  availability_90                               6636 non-null   int64
 54  availability_365                              6636 non-null   int64
 55  calendar_last_scraped                         6636 non-null   object
 56  number_of_reviews                             6636 non-null   int64
 57  number_of_reviews_ltm                         6636 non-null   int64
 58  number_of_reviews_l30d                        6636 non-null   int64
 59  first_review                                  5562 non-null   object
 60  last_review                                   5562 non-null   object
 61  review_scores_rating                          5562 non-null   float64
 62  review_scores_accuracy                        5559 non-null   float64
 63  review_scores_cleanliness                     5559 non-null   float64
 64  review_scores_checkin                         5559 non-null   float64
 65  review_scores_communication                   5559 non-null   float64
 66  review_scores_location                        5559 non-null   float64
 67  review_scores_value                           5559 non-null   float64
 68  license                                       4508 non-null   object
 69  instant_bookable                              6636 non-null   object
 70  calculated_host_listings_count                6636 non-null   int64
 71  calculated_host_listings_count_entire_homes   6636 non-null   int64
 72  calculated_host_listings_count_private_rooms  6636 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6636 non-null   int64
 74  reviews_per_month                             5562 non-null   float64
dtypes: float64(20), int64(19), object(36)
memory usage: 3.8+ MB

In [7]:
# Check data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6636 non-null   int64
 1   listing_url                                   6636 non-null   object
 2   scrape_id                                     6636 non-null   int64
 3   last_scraped                                  6636 non-null   object
 4   source                                        6636 non-null   object
 5   name                                          6636 non-null   object
 6   description                                   6630 non-null   object
 7   neighborhood_overview                         4859 non-null   object
 8   picture_url                                   6636 non-null   object
 9   host_id                                       6636 non-null   int64
 10  host_url                                      6636 non-null   object
 11  host_name                                     6636 non-null   object
 12  host_since                                    6636 non-null   object
 13  host_location                                 5700 non-null   object
 14  host_about                                    4756 non-null   object
 15  host_response_time                            5893 non-null   object
 16  host_response_rate                            5893 non-null   object
 17  host_acceptance_rate                          6101 non-null   object
 18  host_is_superhost                             5560 non-null   object
 19  host_thumbnail_url                            6636 non-null   object
 20  host_picture_url                              6636 non-null   object
 21  host_neighbourhood                            6332 non-null   object
 22  host_listings_count                           6636 non-null   int64
 23  host_total_listings_count                     6636 non-null   int64
 24  host_verifications                            6636 non-null   object
 25  host_has_profile_pic                          6636 non-null   object
 26  host_identity_verified                        6636 non-null   object
 27  neighbourhood                                 4859 non-null   object
 28  neighbourhood_cleansed                        6636 non-null   object
 29  neighbourhood_group_cleansed                  6636 non-null   object
 30  latitude                                      6636 non-null   float64
 31  longitude                                     6636 non-null   float64
 32  property_type                                 6636 non-null   object
 33  room_type                                     6636 non-null   object
 34  accommodates                                  6636 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6635 non-null   object
 37  bedrooms                                      5060 non-null   float64
 38  beds                                          6563 non-null   float64
 39  amenities                                     6636 non-null   object
 40  price                                         6636 non-null   object
 41  minimum_nights                                6636 non-null   int64
 42  maximum_nights                                6636 non-null   int64
 43  minimum_minimum_nights                        6635 non-null   float64
 44  maximum_minimum_nights                        6635 non-null   float64
 45  minimum_maximum_nights                        6635 non-null   float64
 46  maximum_maximum_nights                        6635 non-null   float64
 47  minimum_nights_avg_ntm                        6635 non-null   float64
 48  maximum_nights_avg_ntm                        6635 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6636 non-null   object
 51  availability_30                               6636 non-null   int64
 52  availability_60                               6636 non-null   int64
 53  availability_90                               6636 non-null   int64
 54  availability_365                              6636 non-null   int64
 55  calendar_last_scraped                         6636 non-null   object
 56  number_of_reviews                             6636 non-null   int64
 57  number_of_reviews_ltm                         6636 non-null   int64
 58  number_of_reviews_l30d                        6636 non-null   int64
 59  first_review                                  5562 non-null   object
 60  last_review                                   5562 non-null   object
 61  review_scores_rating                          5562 non-null   float64
 62  review_scores_accuracy                        5559 non-null   float64
 63  review_scores_cleanliness                     5559 non-null   float64
 64  review_scores_checkin                         5559 non-null   float64
 65  review_scores_communication                   5559 non-null   float64
 66  review_scores_location                        5559 non-null   float64
 67  review_scores_value                           5559 non-null   float64
 68  license                                       4508 non-null   object
 69  instant_bookable                              6636 non-null   object
 70  calculated_host_listings_count                6636 non-null   int64
 71  calculated_host_listings_count_entire_homes   6636 non-null   int64
 72  calculated_host_listings_count_private_rooms  6636 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6636 non-null   int64
 74  reviews_per_month                             5562 non-null   float64
dtypes: float64(20), int64(19), object(36)
memory usage: 3.8+ MB

In [8]:
# Create a list of columns that includes the pertinent data necessary for the analysis
pertinent_columns = [
    'id',
    'room_type',
    'accommodates',
    'bedrooms',
    'bathrooms_text',
    'amenities',
    'price',
    'minimum_nights',
    'maximum_nights',
    'number_of_reviews',
    'review_scores_rating',
    'review_scores_accuracy',
    'review_scores_cleanliness',
    'review_scores_checkin',
    'review_scores_communication',
    'review_scores_location',
    'review_scores_value',
    'neighbourhood_cleansed',
    'latitude',
    'longitude',
]

In [9]:
# Create a new DataFrame with the same name 'df_pertinent'
df = df.loc[:, pertinent_columns]

In [10]:
# Check the new DataFrame
df.head()

,id,room_type,accommodates,bedrooms,bathrooms_text,amenities,price,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,neighbourhood_cleansed,latitude,longitude
0,13226114,Entire home/apt,5,2.0,2 baths,"[""Private patio or balcony"", ""Ceiling fan"", ""B...",$240.00,4,200,24,4.79,4.92,4.83,5.00,5.00,4.61,4.65,Columbia City,47.56555,-122.29385
1,12518952,Entire home/apt,4,2.0,1 bath,"[""45\"" HDTV with Netflix, HBO Max, Hulu, Amazo...",$200.00,3,1125,60,5.00,4.98,4.98,4.98,5.00,5.00,4.83,Green Lake,47.68243,-122.33086
2,521597880867717063,Entire home/apt,2,NaN,1 bath,"[""Dryer \u2013\u00a0In unit"", ""Carbon monoxide...",$81.00,30,731,2,5.00,5.00,5.00,5.00,5.00,3.50,5.00,Adams,47.66646,-122.37650
3,17889172,Entire home/apt,2,1.0,1 bath,"[""Baking sheet"", ""Carbon monoxide alarm"", ""Dis...",$125.00,30,150,28,5.00,4.96,4.96,5.00,5.00,4.96,4.89,Wallingford,47.65480,-122.34042
4,15917796,Entire home/apt,4,NaN,1 bath,"[""Free driveway parking on premises \u2013 1 s...",$128.00,30,1125,31,4.60,4.77,4.53,4.87,4.77,4.93,4.33,Montlake,47.64017,-122.32271

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           6636 non-null   int64
 1   room_type                    6636 non-null   object
 2   accommodates                 6636 non-null   int64
 3   bedrooms                     5060 non-null   float64
 4   bathrooms_text               6635 non-null   object
 5   amenities                    6636 non-null   object
 6   price                        6636 non-null   object
 7   minimum_nights               6636 non-null   int64
 8   maximum_nights               6636 non-null   int64
 9   number_of_reviews            6636 non-null   int64
 10  review_scores_rating         5562 non-null   float64
 11  review_scores_accuracy       5559 non-null   float64
 12  review_scores_cleanliness    5559 non-null   float64
 13  review_scores_checkin        5559 non-null   float64
 14  review_scores_communication  5559 non-null   float64
 15  review_scores_location       5559 non-null   float64
 16  review_scores_value          5559 non-null   float64
 17  neighbourhood_cleansed       6636 non-null   object
 18  latitude                     6636 non-null   float64
 19  longitude                    6636 non-null   float64
dtypes: float64(10), int64(5), object(5)
memory usage: 1.0+ MB

In [12]:
# rename 'bathrooms_text' to 'bathrooms' before changing its datatype to numeric
df.rename(columns={'bathrooms_text':'bathrooms', 'neighbourhood_cleansed':'neighborhood'}, inplace=True)

In [13]:
# Convert 'bathrooms' into numeric value
df['bathrooms'] = df['bathrooms'].str.extract('(\d+)').astype(float)

In [14]:
# Check 'bathrooms' type:
print(df['bathrooms'].dtypes)

float64

In [15]:
# Obtain a summary statistics for the numeric columns:
df.describe()

,id,accommodates,bedrooms,bathrooms,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,latitude,longitude
count,6.636000e+03,6636.000000,5060.000000,6622.000000,6636.000000,6636.000000,6636.000000,5562.000000,5559.000000,5559.000000,5559.000000,5559.000000,5559.000000,5559.000000,6636.000000,6636.000000
mean,3.075627e+17,4.009192,1.930435,1.352008,11.940024,514.682037,64.055154,4.786535,4.828030,4.807971,4.873056,4.864614,4.833412,4.710536,47.626700,-122.334122
std,3.715633e+17,2.552078,1.129622,0.733935,19.000116,490.996284,103.263320,0.391729,0.345872,0.348809,0.303903,0.350205,0.293526,0.391589,0.049349,0.033042
min,6.606000e+03,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,47.495874,-122.419050
25%,2.684482e+07,2.000000,1.000000,1.000000,2.000000,31.000000,2.000000,4.750000,4.810000,4.770000,4.880000,4.880000,4.800000,4.660000,47.601959,-122.356382
50%,5.168138e+07,4.000000,2.000000,1.000000,2.000000,365.000000,23.000000,4.890000,4.930000,4.920000,4.960000,4.970000,4.910000,4.810000,47.623265,-122.333007
75%,7.065462e+17,5.000000,2.000000,2.000000,30.000000,1125.000000,80.000000,4.980000,5.000000,5.000000,5.000000,5.000000,4.980000,4.910000,47.664345,-122.311175
max,9.198184e+17,16.000000,13.000000,16.000000,365.000000,10000.000000,1281.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,47.734010,-122.240870

# 4. Data Cleaning

## 4.1. Handling missing values

In [16]:
# Check for missing values in the entire DataFrame
missing_data = df.isnull().sum()
print(missing_data)

id                                0
room_type                         0
accommodates                      0
bedrooms                       1576
bathrooms                        14
amenities                         0
price                             0
minimum_nights                    0
maximum_nights                    0
number_of_reviews                 0
review_scores_rating           1074
review_scores_accuracy         1077
review_scores_cleanliness      1077
review_scores_checkin          1077
review_scores_communication    1077
review_scores_location         1077
review_scores_value            1077
neighborhood                      0
latitude                          0
longitude                         0
dtype: int64

<p><b>'bedrooms' column:</b><br>
Upon examining the dataset, it appears that most entries with missing values correspond to private rooms. Therefore, the analysis has decided to fill in the blanks with a value of 1.</p>

In [17]:
df['bedrooms'].fillna(1, inplace=True)

<p><b>'bathrooms' column:</b><br>
# Given that there are only a few entries with missing values (14 out of 6636), 
# The analyst has opted to remove these rows, as the impact on the analysis is minimal.</p>

In [18]:
df.dropna(subset=['bathrooms'], inplace=True)

<b>'reviews_scores_...' columns:</b><br>
Upon dataset examination, most missing values are primarily associated with listings with 0 availability and the analyst cannot reasonably impute these missing values. Hence, the analyst decides to exclude them to improve the quality of your analysis.</p>

In [19]:
df.dropna(subset=['review_scores_accuracy'], inplace=True)

In [20]:
# check the DataFrame:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5547 entries, 0 to 6635
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5547 non-null   int64
 1   room_type                    5547 non-null   object
 2   accommodates                 5547 non-null   int64
 3   bedrooms                     5547 non-null   float64
 4   bathrooms                    5547 non-null   float64
 5   amenities                    5547 non-null   object
 6   price                        5547 non-null   object
 7   minimum_nights               5547 non-null   int64
 8   maximum_nights               5547 non-null   int64
 9   number_of_reviews            5547 non-null   int64
 10  review_scores_rating         5547 non-null   float64
 11  review_scores_accuracy       5547 non-null   float64
 12  review_scores_cleanliness    5547 non-null   float64
 13  review_scores_checkin        5547 non-null   float64
 14  review_scores_communication  5547 non-null   float64
 15  review_scores_location       5547 non-null   float64
 16  review_scores_value          5547 non-null   float64
 17  neighborhood                 5547 non-null   object
 18  latitude                     5547 non-null   float64
 19  longitude                    5547 non-null   float64
dtypes: float64(11), int64(5), object(4)
memory usage: 910.1+ KB

In [21]:
# check the DataFrame:
df.head()

,id,room_type,accommodates,bedrooms,bathrooms,amenities,price,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,neighborhood,latitude,longitude
0,13226114,Entire home/apt,5,2.0,2.0,"[""Private patio or balcony"", ""Ceiling fan"", ""B...",$240.00,4,200,24,4.79,4.92,4.83,5.00,5.00,4.61,4.65,Columbia City,47.56555,-122.29385
1,12518952,Entire home/apt,4,2.0,1.0,"[""45\"" HDTV with Netflix, HBO Max, Hulu, Amazo...",$200.00,3,1125,60,5.00,4.98,4.98,4.98,5.00,5.00,4.83,Green Lake,47.68243,-122.33086
2,521597880867717063,Entire home/apt,2,1.0,1.0,"[""Dryer \u2013\u00a0In unit"", ""Carbon monoxide...",$81.00,30,731,2,5.00,5.00,5.00,5.00,5.00,3.50,5.00,Adams,47.66646,-122.37650
3,17889172,Entire home/apt,2,1.0,1.0,"[""Baking sheet"", ""Carbon monoxide alarm"", ""Dis...",$125.00,30,150,28,5.00,4.96,4.96,5.00,5.00,4.96,4.89,Wallingford,47.65480,-122.34042
4,15917796,Entire home/apt,4,1.0,1.0,"[""Free driveway parking on premises \u2013 1 s...",$128.00,30,1125,31,4.60,4.77,4.53,4.87,4.77,4.93,4.33,Montlake,47.64017,-122.32271

## 4.2. Removing duplicates

In [22]:
# Remove duplicate rows:
df.drop_duplicates(inplace=True)

## 4.3. Data Transformation

<p><b>'prices' Column</b><br>

In [23]:
# Remove the '$' sign and convert the 'price' column to float
df['price'] = df['price'].str.replace('[\$,]', '', regex=True).astype(float)

<p><b>'amenities' Column</b><br>
The 'amenities' column includes a textual list of provided amenities for each listing. To enhance the data's usability for analysis, the analyst has decided to split the text based on the delimiter (comma) and create new binary columns for each amenity. </p>

In [24]:
# Parse amenities using a comma delimiter
# Remove curly braces and quotes
df['amenities'] = df['amenities'].str.replace('["]', '', regex=True)

In [25]:
# Split the modified 'amenities' column by commas ,. 
df['amenities'] = df['amenities'].str.split(',')

In [26]:
# Join the string using a pipe symbol ('|') 
# then converts this string into a DataFrame of binary columns.
df_amenities = df['amenities'].str.join('|').str.get_dummies()

In [27]:
# view the df_amenities DataFrame
df_amenities.head()

,Beko stainless steel oven,Paraben & Sulfate Free body soap,Paraben & Sulfate Free conditioner,Paraben & Sulfate Free shampoo,& Planet shampoo,1 Harman Kardon Onyx Studio 4 wireless bluetooth speakers Bluetooth sound system,1-burner induction stovetop induction stove,100% Vegan,100% Vegan & Cruelty-Free,100% Vegan & Cruelty-Free shampoo,...,[TV with standard cable,[The Unscented Company (made in Canada) shampoo,[Trader Joe's shampoo,[Trader joes conditioner,[Washer,[Whirlpool stainless steel oven,[White color electric stove,[Wifi,[Window AC unit,electric
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df_amenities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5547 entries, 0 to 6635
Columns: 2926 entries,   Beko stainless steel oven to electric
dtypes: int64(2926)
memory usage: 123.9 MB

In [29]:
# Calculate the total number of amenities for each listing 
df['total_amenities'] = df_amenities.sum(axis=1)

In [30]:
# Check the modified 'listings' DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5547 entries, 0 to 6635
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5547 non-null   int64
 1   room_type                    5547 non-null   object
 2   accommodates                 5547 non-null   int64
 3   bedrooms                     5547 non-null   float64
 4   bathrooms                    5547 non-null   float64
 5   amenities                    5547 non-null   object
 6   price                        5547 non-null   float64
 7   minimum_nights               5547 non-null   int64
 8   maximum_nights               5547 non-null   int64
 9   number_of_reviews            5547 non-null   int64
 10  review_scores_rating         5547 non-null   float64
 11  review_scores_accuracy       5547 non-null   float64
 12  review_scores_cleanliness    5547 non-null   float64
 13  review_scores_checkin        5547 non-null   float64
 14  review_scores_communication  5547 non-null   float64
 15  review_scores_location       5547 non-null   float64
 16  review_scores_value          5547 non-null   float64
 17  neighborhood                 5547 non-null   object
 18  latitude                     5547 non-null   float64
 19  longitude                    5547 non-null   float64
 20  total_amenities              5547 non-null   int64
dtypes: float64(12), int64(6), object(3)
memory usage: 953.4+ KB

In [31]:
df.head()

,id,room_type,accommodates,bedrooms,bathrooms,amenities,price,minimum_nights,maximum_nights,number_of_reviews,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,neighborhood,latitude,longitude,total_amenities
0,13226114,Entire home/apt,5,2.0,2.0,"[[Private patio or balcony, Ceiling fan, Bak...",240.0,4,200,24,...,4.92,4.83,5.00,5.00,4.61,4.65,Columbia City,47.56555,-122.29385,67
1,12518952,Entire home/apt,4,2.0,1.0,"[[45\ HDTV with Netflix, HBO Max, Hulu, Ama...",200.0,3,1125,60,...,4.98,4.98,4.98,5.00,5.00,4.83,Green Lake,47.68243,-122.33086,68
2,521597880867717063,Entire home/apt,2,1.0,1.0,"[[Dryer \u2013\u00a0In unit, Carbon monoxide ...",81.0,30,731,2,...,5.00,5.00,5.00,5.00,3.50,5.00,Adams,47.66646,-122.37650,30
3,17889172,Entire home/apt,2,1.0,1.0,"[[Baking sheet, Carbon monoxide alarm, Dishw...",125.0,30,150,28,...,4.96,4.96,5.00,5.00,4.96,4.89,Wallingford,47.65480,-122.34042,35
4,15917796,Entire home/apt,4,1.0,1.0,[[Free driveway parking on premises \u2013 1 s...,128.0,30,1125,31,...,4.77,4.53,4.87,4.77,4.93,4.33,Montlake,47.64017,-122.32271,21

In [32]:
# Drop the unnamed column 
df = df.drop(df.columns[0], axis = 1)

In [33]:
df.head()

,room_type,accommodates,bedrooms,bathrooms,amenities,price,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,neighborhood,latitude,longitude,total_amenities
0,Entire home/apt,5,2.0,2.0,"[[Private patio or balcony, Ceiling fan, Bak...",240.0,4,200,24,4.79,4.92,4.83,5.00,5.00,4.61,4.65,Columbia City,47.56555,-122.29385,67
1,Entire home/apt,4,2.0,1.0,"[[45\ HDTV with Netflix, HBO Max, Hulu, Ama...",200.0,3,1125,60,5.00,4.98,4.98,4.98,5.00,5.00,4.83,Green Lake,47.68243,-122.33086,68
2,Entire home/apt,2,1.0,1.0,"[[Dryer \u2013\u00a0In unit, Carbon monoxide ...",81.0,30,731,2,5.00,5.00,5.00,5.00,5.00,3.50,5.00,Adams,47.66646,-122.37650,30
3,Entire home/apt,2,1.0,1.0,"[[Baking sheet, Carbon monoxide alarm, Dishw...",125.0,30,150,28,5.00,4.96,4.96,5.00,5.00,4.96,4.89,Wallingford,47.65480,-122.34042,35
4,Entire home/apt,4,1.0,1.0,[[Free driveway parking on premises \u2013 1 s...,128.0,30,1125,31,4.60,4.77,4.53,4.87,4.77,4.93,4.33,Montlake,47.64017,-122.32271,21

In [34]:
df.columns

Index(['room_type', 'accommodates', 'bedrooms', 'bathrooms', 'amenities',
       'price', 'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'neighborhood', 'latitude', 'longitude',
       'total_amenities'],
      dtype='object')

# 5. Exporting Cleaned Data

In [35]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'listings_cleaned.csv'))